<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#fff" style="border-collapse: collapse;border:8px solid #4737a8;">
    <tr><!-- header -->
        <td align="center" bgcolor="#4737a8" height="165" style="background-image: url(<%= assetUrl %>e-seller_Mailer.svg);background-repeat: no-repeat;background-position: center !important;" >
            <font color="#ffffff" style="font-size:24px;font-family: 'Lato', sans-serif;"></font>
        </td>
    </tr><!-- header ends -->
    <tr>
        <td align="center" bgcolor="#ffffff" height="110">
            <p style="font-size:28px;font-weight:700;letter-spacing:.5px;color:#5146d2;margin-top:0px;margin-bottom:0px;font-family: 'Poppins', sans-serif;">FORGOT PASSWORD?</p>
        </td>
    </tr>
    <tr>
        <td align="left" bgcolor="#ffffff">
            <p style="padding-left:35px;padding-right:35px;font-size:16px;color:#4a4a4a;line-height:22px;letter-spacing:.3px;font-family: 'Poppins', sans-serif;">
                Hi <b style="display:inline-block;margin-bottom:15px;"><%= normalizedEmail %>,</b><br>
                You're receiving this email because you requested a password reset for your Techjockey's e-Seller Hub Account.
                If you did not request this change, you can safely ignore this email.
            </p>
            <p style="padding-left:35px;padding-right:35px;font-size:16px;color:#4a4a4a;line-height:22px;letter-spacing:.3px;font-family: 'Poppins', sans-serif;">
                To choose a new password and complete your request, please follow the link below:
                <a href="<%= resetLink %>" style="word-break: break-word;"><%= resetLink %></a>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#ffffff">
            <p style="margin-bottom:5px;margin-top:35px;"><a href="<%= mainsiteUrl %>"><img src="<%= tjassetUrl %>tjlogo.png" alt="logo"></a></p>
            <p style="color:#4a4a4a;font-size:20px;margin-top:0px;margin-bottom:5px;font-family: 'Poppins', sans-serif;">We are there for you always</p>
            <p style="font-size:14px;margin-top:0px;margin-bottom:0px;font-family: 'Poppins', sans-serif;">
                <a href="mailto:support@techjockey.com">support@techjockey.com</a> |
                <a href="tel:+1 (800) 123-4567">+1 (800) 123-4567</a>
            </p>
            <p style="margin-bottom:20px;margin-top:20px;">
                <a href="https://www.facebook.com/Techjockey/" style="display:inline-block;padding-left:10px;padding-right:10px;"><img src="<%= tjassetUrl %>fb.png" alt="facebook"></a>
                <a href="https://twitter.com/TechJockeys" style="display:inline-block;padding-left:10px;padding-right:10px;"><img src="<%= tjassetUrl %>tw.png" alt="twitter"></a>
                <a href="https://www.youtube.com/channel/UCv-PgwHTncZZ5i1iLs67rXQ" style="display:inline-block;padding-left:10px;padding-right:10px;"><img src="<%= tjassetUrl %>yt.png" alt="youtube"></a>
            </p>
        </td>
    </tr>
</table>
