<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Malier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

</head>

<body style="font-family:Arial, Helvetica, sans-serif; margin:0px; padding:0px;">
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#EDF0F3" style="background-color:#fff;table-layout:fixed; padding-top:0px;">
        <tbody>
            <tr>
                <td align="center">
                    <center style="width:100%">
                        <table border="0" cellspacing="0" cellpadding="0" width="640" bgcolor="#fff" style="background-color:#333 ;margin:0 auto; max-width:640px; width:inherit">
                            <tbody>
                                <tr>
                                    <td bgcolor="#F6F8FA" style="background: #472dc2; ">
                                        <table border="0" cellspacing="0" cellpadding="0" width="100%" height="120px;" style="width:100%!important; min-width:100%!important;">
                                            <tbody>
                                                <tr>
                    <td align="center" bgcolor="#4737a8" height="165" style="background-image: url(<%= assetUrl %>e-seller_Mailer.svg);background-repeat: no-repeat;background-position: center !important;" ></td>

                                                  
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="background:#333;">
                                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding: 0px 10px 0px 10px; background-color: #472dc2;">
                                                                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
<td style="background: #fff; padding: 15px 15px 0px 15px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
 <div style="font-family:Arial, Helvetica, sans-serif; font-weight:400; color:#444; word-wrap:break-word; font-size:14px; line-height:25px; text-align:center;">

<p style="font-size: 18px; margin: 20px 0px 20px 0px; padding: 0px; color: #5146d2; font-family: 'Roboto', sans-serif; font-weight: 500;"> Thank you for signing up with us. </p>




<p style="font-size: 14px; color: #4a4a4a; width: 480px; font-family: 'Roboto', sans-serif; font-weight: 400; margin: 0px auto;"> Welcome to the Techjockey's e-Seller Hub with interactive dashboard features! Now, you can manage your own account information, view the performance of your product listed on Techjockey.com, and much more. </p>

<p style="font-size: 14px; color: #4a4a4a; width: 480px; margin: 0px auto; font-family: 'Roboto', sans-serif; font-weight: 400; margin-top:15px;"> Click the link below to get started! </p>
<p> <a href="<%= verifyLink %>" role="button" style="background: #f5a623; border: none; color: #fff; padding: 5px; border-radius: 4px;
    text-decoration: none; display: block; width: 180px; margin: 20px auto; text-align: center; font-size: 16px; font-family: 'Roboto', sans-serif;
    height: 40px; line-height: 40px; font-weight: 500;" target="_blank"> Verify account  </a> </p>
	
	<p style="font-family: 'Roboto', sans-serif; opacity: 0.7; font-size:13px; margin-top: 80px;"> If the above Button is not clickable, Please Copy and Paste this link in your browser URL bar. <a href="<%= verifyLink %>" style="color: #472dc2; font-size:12px;"> <%= verifyLink %></a> </p>
	
<p style="color: #181818;  font-size: 12px; opacity: 0.4; border-bottom: 1px solid #24272c; padding-bottom: 5px; margin-bottom: 10px; font-family: 'Roboto', sans-serif; 
    font-weight: 500;"> Now you're ready to indulge in the world of software! </p>
                                                                                           

                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#EDF0F3" align="center" style="
   padding: 0 10px 15px 10px; color: #999999; text-align: center;    background: #472dc2; ">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding: 20px 0 15px 0;
    text-align: center;
    background: #fff; border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;">
                                                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="padding:0 0 10px 0;text-align:center">
                                                                        <h3 style="margin: 0;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.333;font-family: 'Roboto', sans-serif;  ">
								We are there for you always
								</h3>
    <p style="margin: 0px; font-size:18px; font-family: 'Roboto', sans-serif;"><a href="mailto:support@techjockey.com">support@techjockey.com</a> | <a href="tel:8448990552">8448990552</a> </p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding: 4px 0 20px 0;;text-align:center; ">
    <a href="https://www.facebook.com/Techjockey/" style=" color:#737373; text-decoration:underline;display:inline-block;     margin-right: 15px;" target="_blank">
    <img border="0" height="35" src="<%= tjassetUrl %>fb.png" alt="Facebook" width="35" style="outline:none; color:#ffffff; display:block; text-decoration:none; "></a>
    <a href="https://twitter.com/TechJockeys" style="color:#737373;text-decoration:underline;display:inline-block;     margin-right: 15px;" target="_blank">
    <img border="0" height="35" src="<%= tjassetUrl %>tw.png" alt="twitter" width="35" style="outline:none;color:#ffffff;display:block;text-decoration:none"></a>
    <a href="https://www.youtube.com/channel/UCv-PgwHTncZZ5i1iLs67rXQ" style="color:#737373;text-decoration:underline;display:inline-block;     margin-right: 15px;" target="_blank">
    <img border="0" height="35" src="<%= tjassetUrl %>yt.png" alt="youtube" width="35" style="outline:none;color:#ffffff;display:block;text-decoration:none"></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
